{% extends "layout.html" %}
{% block content %}

<h3>{{ title }}</h3>
<hr>

{% for msg in messages %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div>
      <strong>With:</strong> {{ msg.with }}<br>
      <strong>Message:</strong> {{ msg.message }}
    </div>
    {% if request.user['role'] in ['sender', 'admin'] %}
      <a href="{{ url_for('send_message', to=msg.with) }}" class="btn btn-sm btn-outline-primary">Send</a>
    {% endif %}
  </li>
{% endfor %}


{% endblock %}
